/* style for the content part of the page */
.information_CL {
    min-height: 50vh;
    margin: 10vh 5vw;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.CL_description{
    flex: 0 1 30vh;
    font-size: calc(1em + 3vw);
    text-align: center;
    padding-bottom: 5vh;
}

.btn-more_information{
    flex: 0 1 10vh;
    max-height: 15vh;
    font-size: calc(1em + 1vw); 
    margin-bottom: 5%;
    padding: 1.5%;
    transition: box-shadow 0.1s;
}
.btn-more_information:hover{
    box-shadow: 1px 2px 5px 1px black;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

@media screen and (min-width: 610px) {
        .information_CL {
        min-height: 50vh;
        margin: 10vh 5vw;
        margin-bottom: 5vh;
        padding-bottom: 5vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .CL_description{
        flex: 0 1 30vw;
        font-size: calc(2em + 2vw);
        min-width: 75vw;
        text-align: center;
        padding-bottom: 0px;

    }
    .btn-more_information{
        margin-bottom: 0        ;
    }
    
}
