html{
    width: auto;
}
/*styles for the table*/
.title {
    width: 100%;
    margin: 5vh 0vw;
    text-align: center;
    font-size: calc(1.5em + 1vw) ;
    text-transform: capitalize;
}
body table {
    max-width: 90vw;
    width: 80vw;
    border-collapse: collapse;
    border:none;
    background-color: #eee;
}
.table-title{
    text-align: center;
    text-transform: capitalize;
    padding: 1%;
    border-bottom: 2px solid #ff8e00;
}

.fisrtColumn {
    width: 20%;
}
.secondColumn{
    width: 65%;
}
.thirdColumn{
    width: 15%;
}
table .infoUserColumn{
    vertical-align: middle;
}
table tbody tr{
    border-bottom: 2px solid #162e92;
}
table tbody .name, table tbody .membershipType, table tbody .time{
    text-align: center;
    padding: 2%;
    text-transform: capitalize;
    font-size: 0.9em;
}
.businessRow{
    background-color: #ff8e00;
}
table tbody .text{
    padding: 2%;
}

/*styles for the options, the column actions*/
table tbody .optionsColumn{
    vertical-align: middle; 
    text-align: center;   
}
table tbody .edit, table tbody .delete {
    font-size: calc(0.4em + 0.5vw + 0.5vh);
    padding:10%;
    margin: 2vh 0.2vw;
    transition: box-shadow 0.2s;
}
/*styles for the div more information and Clear All*/
.divButton{
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
/*style for the button More Comments, filter and See All*/
.divButton #moreComments, .btnFiltrar, .btnSeeAll{
    margin: 1vh 0vw;
    padding:1%;
    font-size: calc(0.5em + 0.5vw + 0.5vh);
    transition: box-shadow 0.2s;
}
.divButton #moreComments{
    margin: 5vh 0vw;
}
.btnSeeAll{
    margin-bottom: 5vh;
}
/*styles for the filter*/
.filtro{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.filtro #textoAFiltrar{
    padding:1%;
    border: 2px solid #162e92;
    border-radius: 25px;
    text-transform: capitalize;
    margin: 1vh 0vw;
}
#membershipAFiltrar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#membershipAFiltrar label{
    margin-right: 5%;
}

/*styles for the form add comment*/

.addComment{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    padding: 2vh 5vw;
    padding-top: 0;
    margin: 0 auto;
}
.addComment .infoUserToPost{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}
.addComment .infoUserToPost .name,.addComment .infoUserToPost .surname, .addComment .infoUserToPost .slc-membership{
    flex: 1 1 auto;
    padding:1%;
    border: 2px solid #162e92;
    border-radius: 25px;
    text-transform: capitalize;
    margin: 1vh 0vw;
} 

.divMembership{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.divMembership label{
    font-weight: bold;
    font-size: calc(0.5em + 0.3vw);
}
.slc-membership {
    width: 100%;
    padding: 3%;
    font-size: calc(0.8em + 0.5vw);
    transition: box-shadow 0.2s;
}

.addComment textarea{
    width: 90%;
    padding: 4%;
    border: 2px solid #162e92;
    border-radius: 25px;
    min-height: 40vh;
    margin-bottom: 4vh;
}
/*buttons cancel confirm and send below the comment area*/
.buttonsForm{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.addComment .editButton{
    align-self: flex-end;
    width: 20vw;
    padding: 2%;
    font-size: calc(0.8em + 1vw);
    margin-bottom: 5vh;
    margin-left: 1vw;
    transition: box-shadow 0.2s;

}

/*style fot the hr below the addComment form*/
.addComment hr{
    width: 50vw;
    border-style: solid;
    border:2px solid #162e92;

}
/*style for Clear All button, feature for superuser*/
.comments {
    margin: 1vh auto;
}
#clearComments{
    width: 50vw;
    font-size: calc(1em + 2vw);
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 1%;
    padding-top: 0;
    transition: box-shadow 0.2s;
}
#clearComments span{
    text-transform: uppercase;
    text-decoration: underline;
    color: red;
    line-height: 2em;
}

/*desktop*/
@media screen and (min-width:610px) {
    .filtro{
        flex-flow:row nowrap;
    }
    .btnSeeAll{
        margin-bottom: 0vh;
    }
    .addComment{
        padding-top: 2vh;
    }
    .addComment .infoUserToPost{
        flex-flow: row nowrap;
        margin-bottom: 5vh;
    }
    .addComment .infoUserToPost .name,.addComment .infoUserToPost .surname, .addComment .infoUserToPost .slc-membership{
        margin: 0;
        
    }
    .addComment .infoUserToPost .name,.addComment .infoUserToPost .surname{
    margin-right: 1vw;
    }
}

/* added styles for error or messages in screen */

.loadingComments {
    text-transform: capitalize;
    text-align: center;
    margin: 2%;
    padding: 1%;
}
.errorRow{
    text-align: center;
    vertical-align: center;
    font-size: calc(1em + 0.5vw + 0.5vh);
}
.hide{
    display: none;
}
.highlight{
    background-color: rgba(22, 46, 146, 0.2);
}